<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                <th>Topic_name</th>
                <th>Name</th>
                <th>Url</th>
            </tr>
            {% for topic in EQS %}
            <tr>
                <td>{{topic.Topic_name}}</td>
                <td>{{topic.Name}}</td>
                <td>{{topic.Url}}</td>
            </tr>
            {% endfor%}
        </table>
    </center>
</body>
</html>